:root {
  --text-color: #213547;
  --bg-color: #ffffff;
  --card-bg: #f4f4f4;
  --card-text: #000;
  --correct-bg: #d4edda;
  --correct-text: #155724;
  --icon-color: #213547;

  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[data-theme='dark'] {
  --text-color: rgba(255, 255, 255, 0.87);
  --bg-color: #242424;
  --card-bg: #333;
  --card-text: #fff;
  --correct-bg: #204d35;
  --correct-text: #b2f5cb;
  --icon-color: #ffffff;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  color: var(--text-color);
  background-color: var(--bg-color);
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

.choice.wrong {
  background-color: #f8d7da;
  color: #721c24;
  font-weight: bold;
}
